<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
  <div class="jh-logo-container float-right">
    <a class="jh-navbar-toggler float-right" data-toggle="collapse"
       data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
       aria-label="Toggle navigation" (click)="toggleNavbar()">
      <i class="fa fa-bars"></i>
    </a>

    <a class="navbar-brand logo float-left">
      <span class="navbar-title">Crypto</span> <span class="navbar-version">eheh</span>
    </a>
  </div>

  <div class="navbar-collapse pull-right">
    <ul class="navbar-nav html-editor-align-right">
      <li>
        <h2 class="glyphicon-align-right">Home</h2>
        <h2 class="glyphicon-align-right">Manage</h2>
        <h2 class="glyphicon-align-right">About</h2>
      </li>
    </ul>
  </div>

</nav>
