<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-9">
    <div id="taskPanel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">My CryptoWallet</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <app-crypto-list></app-crypto-list>
            <app-crypto-add></app-crypto-add>
          </div>
          <div class="col-xs-6">
            <app-crypto-chart></app-crypto-chart>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
