<div>
  <table class="table table-responsive table-hover" >
    <thead>
    <tr class="bg-primary">
      <th class="text-center">Symbol</th>
      <th class="text-center">Amount</th>
      <th class="text-center">Price [USD]</th>
      <th class="text-center">Change 24h [%]</th>
      <th class="text-center">Change 7d [%]</th>
      <th class="text-center">Value [USD]</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr *ngFor="let coin of coins" style="padding-top: 8px">
      <td>{{coin.symbol}}</td>
      <td>{{coin.amount.toFixed(3)}}</td>
      <td>{{coin.coinData.price_usd.toFixed(2)}}</td>
      <td class="{{colorGreenOrRedIfIsGreaterThanZero(coin.coinData.percent_change_24h)}}">{{coin.coinData.percent_change_24h.toFixed(2)}}</td>
      <td class="{{colorGreenOrRedIfIsGreaterThanZero(coin.coinData.percent_change_7d)}}">{{coin.coinData.percent_change_7d.toFixed(2)}}</td>
      <td>{{coin.value.toFixed(2)}}</td>
      <td><app-crypto-remove></app-crypto-remove></td>
    </tr>
    </tbody>
  </table>
</div>
